{% set TEST_QMXGRAPH = os.environ.get('TEST_QMXGRAPH', '0') != '0' %}

name: qmxgraph-esss

includes:
  - {{ root }}/base_environment.yml

environment:
# PhantomJS
# pros:
# * doesn't open a browser (i.e. known as headless)
# * as consequence, doesn't interfere with developer GUI
# * uses Webkit, same web browser engine used by Qt
#
# cons:
# * seems slower than Firefox driver
# * harder to debug (can't put a breakpoint and take a look at web driver's
#   browser, for instance)
#
# Firefox
# pros:
# * easier to debug (Firefox [and Chrome] already come with developer tools
#   builtin nowadays)
#
# cons:
# * pops up a Firefox instance for each test
# * it is not the same web browser engine as used by Qt
#
# Tip: Use `--driver <driver_name>` to change driver for a single run
  {% if TEST_QMXGRAPH %}
  PYTEST_ADDOPTS: --driver PhantomJS
  {% else %}
  PYTEST_ADDOPTS: ""
  {% endif %}

dependencies:
  - python>=3.5
  - mxgraph>=3.7.5

  - esss-pylupdate5>=5.6.0+1

  - attrs>=17
  - colorama
  - invoke>=1.0.0
  - jinja2==2.10
  - pyqt=5.12.*
  - six

  {% if TEST_QMXGRAPH %}
  - conda-wrappers

  - cherrypy==7.1.0
  - phantomjs>=2.1
  - pytest-mock>=1.4.0
  - pytest-qt>=2.1.0
  - pytest-selenium>=1.2.1,<2
  - pytest-timeout>=1.0.0
  - pytest-xdist>=1.15
  {% if sys.platform != 'win32' %}
  - pytest-xvfb
  {% endif %}

  {% endif %}
